html {
    scroll-behavior: smooth;
}

body {
    background-color: #191919;
    color: #fff;
}

.nav-bar-top {
    background-color: teal;
    padding: 1rem;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    /* Distribui igualmente */
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
}





@media (min-width: 300px) {
    .container-formulario form {
        width: 300px;
    }
}

@media (min-width: 992px) {

    .header {
        background-image: url(https://images3.alphacoders.com/134/thumb-1920-1342988.png);
        width: 100%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }
}


@media (min-width: 992px) {
    .navbarResponsiva {
        display: flex !important;
        flex-basis: auto;
    }

    .container-formulario form {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .li {
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;
    }


}




.header {

    background-image: url(https://images3.alphacoders.com/134/thumb-1920-1342988.png);


    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.navbar {
    background-color: #bd032b;
}

.navbar-brand {
    color: #ffffff;
    padding: 30px;

}

.nav-link {
    color: #ffffff;
}

#top-villains .content {
    background-image: url(https://images8.alphacoders.com/621/thumb-1920-621482.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;

}

a.btn.btn-primary {
    margin-top: 5px;
}

.offcanvas-header {
    background: #bd032b;
    padding: 10px;
}

.offcanvas-body {
    background: #bd032b;
}

.botao {
    margin-top: -15px;
    color: #ce2340;

}

.card-body-kakashi {
    background-image: url(https://images.alphacoders.com/133/thumb-1920-1337463.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    color: #ffffff;
    width: 300px;
    height: 190px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body-timesete {
    background-image: url(https://images7.alphacoders.com/605/thumb-1920-605596.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    width: 300px;
    height: 190px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body-konoha {
    background-image: url(https://images3.alphacoders.com/602/thumb-1920-602092.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    width: 300px;
    height: 190px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.d-flex {
    justify-content: space-evenly;
}

h5.card-title {
    text-align: center;
}

div#top-heroes.content {
    margin-top: 50px;
    margin-bottom: 100px;
}


div#top-villains.content {
    margin-top: 50px;
    margin-bottom: 100px;
}

.card-body-madara {
    background-image: url(https://images8.alphacoders.com/644/thumb-1920-644154.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    width: 300px;
    height: 190px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body-pain {
    background-image: url(https://images4.alphacoders.com/769/thumb-1920-769856.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    width: 300px;
    height: 190px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body-itachi {
    background-image: url(https://images3.alphacoders.com/132/1328396.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    width: 300px;
    height: 190px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.wrapper {
    display: inline-block;
    width: 100%;
}

.text {
    font-family: sans-serif;
    font-size: 20px;
    border-right: 5px solid;
    animation: typing 2.5s steps(22),
        cursor .4s step-end infinite alternate;
}

.container-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-formulario form {
    display: flex;
    flex-direction: column;
}

.cards-container {
    flex-wrap: wrap;
}

footer * {
    color: aqua !important;
}

footer {
    background: #333;
}


@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}




.menu-topicos {
    padding: 10px;
}

.titulo-menu {
    margin-bottom: 15px;
    color: white;
}

.lista-topicos {
    list-style: none;
    padding: 0;
}

.lista-topicos li {
    margin-bottom: 10px;
}

.lista-topicos a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.lista-topicos a:hover {
    text-decoration: underline;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 550px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}